/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 #name, #segmentOne, #segmentTwo {
   position: absolute;
   z-index: 1;
   text-align: center;
   width: 100%;
 }

#name {
  top: 16%;
  color: #FB89FB;
  text-shadow: 1px 1px 3px #A6FF8F
}

 #segmentOne {
  color: #8453E3;
  text-shadow: 1px 1px 3px #18FF92
 }

 #segmentTwo {
  color: #A6FF8F;
  text-shadow: 1px 1px 3px #FF1461;
 }

 .neat {
   padding: 1rem 1rem 1rem 5rem;
 }

 .arrow-up {
  /*width: 0; 
  height: 0;*/
  margin: 0 auto; 
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid #FF1461;
  display: inline;
}

.circles {
  /*width: 0; 
  height: 0;*/
  background-color: #5A87FF;
  margin: 0 auto; 
  border-radius: 50%;
  display: inline-block;
  height: 3rem;
  width: 3rem;
}

 #segmentTwo {

 }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Londrina Solid';
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

 /* ---------- MAIN ---------- */

 #main {
  transition: margin-left .5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

img {
  vertical-align: middle;
}

#profile-pic {
  height: 175px;
  width: 175px;
  box-shadow: 0 0 12px #5EF3FB;
  border: solid 2px #5EF3FB;
}

.profile {
  margin: 0 auto;
  text-align: center;
  height: 200px;
  width: 200px;
}

/* ---------- TITLE ---------- */

/* Fading animation */
.fadein {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 6s;
  animation-name: fadein;
  animation-duration: 6;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadein {
  from { opacity: 0; transform: scale(1); }
  to { opacity: 1; transform: scale(1.08); }
}
@keyframes fadein {
  from { opacity: 0; transform: scale(1); }
  to { opacity: 1; transform: scale(1.08); }
}

.up {
  -webkit-animation-name: up;
  -webkit-animation-duration: 6s;
  animation-name: up;
  animation-duration: 6;
  animation-fill-mode: forwards;
}
@-webkit-keyframes up {
  from { opacity: 1; top: 30% }
  to { opacity: 0; top: -30% }
}
@keyframes up {
  from { opacity: 1; top: 30% }
  to { opacity: 0; top: -30% }
}

.down {
  -webkit-animation-name: down;
  -webkit-animation-duration: 6s;
  animation-name: down;
  animation-duration: 6;
  animation-fill-mode: forwards;
}
@-webkit-keyframes down {
  from { opacity: 0; top: -30% }
  to { opacity: 1; top: 30% }
}
@keyframes down {
  from { opacity: 0; top: -30% }
  to { opacity: 1; top: 30% }
}

.fadeout {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 6s;
  animation-name: fadeout;
  animation-duration: 6;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes fadeout {
  from { opacity: 1; transform: scale(1.08); }
  to { opacity: 0; transform: scale(1); }
}
@keyframes fadeout {
  from { opacity: 1; transform: scale(1.08); }
  to { opacity: 0; transform: scale(1); }
}

/* ---------- BACKGROUND ---------- */

.myBackgroundSlides {
  height: 100%;
  width: 100%;
  position: absolute;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}

/* ----------TOGGLE NAVIGATION---------- */

.togglenav {
  z-index: 1;
  height: 2rem;
  width: 2rem;
  margin: 2rem;
  background-color: #FB89FB;
  position: absolute;
}

.name {
  text-align: center;
  color: #5EF3FB;
  font-size: 30px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111a1d;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding: 2% 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  transition: 0.3s;
  color: #5EF3FB;
}

.anim {
  display: inline-block;
}

.nav-links {
  margin: 20px auto;
}

.icons {
  margin: 20px auto;
  text-align: center;
}

.icons a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  color: inherit;
  padding: 15px;
}

.nav-links a:hover {
  color: #FB89FB;
}

.link-anim {
  padding: 7px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-height: 451px) {
  .nav-links {
    height: 50%;
    margin: 20% auto;
  }
  
  .icons {
    margin: 20% 0 0 0;
    height: 10%;
  }
}

/* ANIMATION */

.line {
  width: 100%;
  padding: 1px 0px;
}

.square {
  pointer-events: none;
  position: relative;
}

.circle {
  pointer-events: none;
  position: relative;
  border-right: 50%;
}

.triangle {
pointer-events: none;
position: relative;
width: 0;
height: 0;
border-style: solid;
border-width: 0 5px 7px 5px;
border-color: transparent transparent #FF1461 transparent;
}

.small {
  width: 7px;
  height: 7px;
}

.shadow {
  position: absolute;
  opacity: .2;
}

.color-01 { color: #FF1461; } /* Red */
.color-02 { color: #FF7C72; } /* Orange */
.color-03 { color: #FBF38C; } /* Yellow */
.color-04 { color: #A6FF8F; } /* Citrus */
.color-05 { color: #18FF92; } /* Green */
.color-06 { color: #1CE2B2; } /* Darkgreen */
.color-07 { color: #5EF3FB; } /* Turquoise */
.color-08 { color: #61C3FF; } /* Lightblue */
.color-09 { color: #5A87FF; } /* Blue */
.color-10 { color: #8453E3; } /* Purple */
.color-11 { color: #C26EFF; } /* Lavender */
.color-12 { color: #FB89FB; } /* Pink */

.background-color-01 { background-color: #FF1461; } /* Red */
.background-color-02 { background-color: #FF7C72; } /* Orange */
.background-color-03 { background-color: #FBF38C; } /* Yellow */
.background-color-04 { background-color: #A6FF8F; } /* Citrus */
.background-color-05 { background-color: #18FF92; } /* Green */
.background-color-06 { background-color: #1CE2B2; } /* Darkgreen */
.background-color-07 { background-color: #5EF3FB; } /* Turquoise */
.background-color-08 { background-color: #61C3FF; } /* Lightblue */
.background-color-09 { background-color: #5A87FF; } /* Blue */
.background-color-10 { background-color: #8453E3; } /* Purple */
.background-color-11 { background-color: #C26EFF; } /* Lavender */
.background-color-12 { background-color: #FB89FB; } /* Pink */