/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* ---------- MAIN ---------- */

 #main {
  transition: margin-left .5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

img {
  vertical-align: middle;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Press Start 2P';
  height: 100%;
  width: 100%;
}

#profile-pic {
  height: 175px;
  width: 175px;
  box-shadow: 0 0 12px #5EF3FB;
  border: solid 2px #5EF3FB;
}

.profile {
  margin: 0 auto;
  text-align: center;
  height: 200px;
  width: 200px;
}

/* ---------- TITLE ---------- */

#details {
  position: absolute;
  transition: margin-left .5s;
  z-index: 1;
  top: 20%;
  width: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 12s;
  animation-name: fade;
  animation-duration: 12s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

/* ---------- BACKGROUND ---------- */

.myBackgroundSlides {
  height: 100%;
  width: 100%;
  position: absolute;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}

/* ----------TOGGLE NAVIGATION---------- */

.togglenav {
  z-index: 1;
  height: 2rem;
  width: 2rem;
  margin: 2rem;
  background-color: #FB89FB;
  position: absolute;
}

.name {
  text-align: center;
  color: #5EF3FB;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111a1d;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding: 2% 0;
}

.nav-links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  transition: 0.3s;
  color: #5EF3FB;
}

.anim {
  display: inline-block;
}

.nav-links {
  height: 50%;
  margin: 20% 0 10% 0;
}

.icons {
  margin: 0 auto;
  text-align: center;
}

.icons a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  color: inherit;
  padding: 15px;
}

.nav-links a:hover {
  color: #FB89FB;
}

.link-anim {
  padding: 7px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
  @-webkit-keyframes fade {
    0% { -webkit-transform: scale(1.0); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1.0); }
  }
  
  @keyframes fade {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.2); } 
    100% { transform: scale(1.0); }
  }

  .segment {
    color: #18FF92;
    font-size: 16px;
    text-align: center;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }
}

.arrow-up {
  width: 0; 
  height: 0;
  margin: 0 auto; 
  opacity: .5;
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-bottom: 10rem solid #FF1461;
}



@media screen and (min-width: 451px) {
  @-webkit-keyframes fade {
    0% { -webkit-transform: scale(1.0); }
    50% { -webkit-transform: scale(1.05); }
    100% { -webkit-transform: scale(1.0); }
  }
  
  @keyframes fade {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.05); } 
    100% { transform: scale(1.0); }
  }

  .segment {
    color: #18FF92;
    font-size: 16px;
    text-align: center;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }
}

/* ANIMATION */

.line {
  width: 100%;
  padding: 1px 0px;
}

.square {
  pointer-events: none;
  position: relative;
}

.circle {
  pointer-events: none;
  position: relative;
  border-right: 50%;
}

.triangle {
pointer-events: none;
position: relative;
width: 0;
height: 0;
border-style: solid;
border-width: 0 5px 7px 5px;
border-color: transparent transparent #FF1461 transparent;
}

.small {
  width: 7px;
  height: 7px;
}

.shadow {
  position: absolute;
  opacity: .2;
}

.color-01 { color: #FF1461; } /* Red */
.color-02 { color: #FF7C72; } /* Orange */
.color-03 { color: #FBF38C; } /* Yellow */
.color-04 { color: #A6FF8F; } /* Citrus */
.color-05 { color: #18FF92; } /* Green */
.color-06 { color: #1CE2B2; } /* Darkgreen */
.color-07 { color: #5EF3FB; } /* Turquoise */
.color-08 { color: #61C3FF; } /* Lightblue */
.color-09 { color: #5A87FF; } /* Blue */
.color-10 { color: #8453E3; } /* Purple */
.color-11 { color: #C26EFF; } /* Lavender */
.color-12 { color: #FB89FB; } /* Pink */

.background-color-01 { background-color: #FF1461; } /* Red */
.background-color-02 { background-color: #FF7C72; } /* Orange */
.background-color-03 { background-color: #FBF38C; } /* Yellow */
.background-color-04 { background-color: #A6FF8F; } /* Citrus */
.background-color-05 { background-color: #18FF92; } /* Green */
.background-color-06 { background-color: #1CE2B2; } /* Darkgreen */
.background-color-07 { background-color: #5EF3FB; } /* Turquoise */
.background-color-08 { background-color: #61C3FF; } /* Lightblue */
.background-color-09 { background-color: #5A87FF; } /* Blue */
.background-color-10 { background-color: #8453E3; } /* Purple */
.background-color-11 { background-color: #C26EFF; } /* Lavender */
.background-color-12 { background-color: #FB89FB; } /* Pink */